.table {
    display: table;
    margin-bottom: 0;
}

.table-cell {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 1px;
}

.user-cell {
    width: 120px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.search-field {
    margin: 0;
    padding: 0;
}
